* {
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&family=Manrope:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;600;700&display=swap');

body {
    font-family: Work Sans;
}

header {
    background-color: rgba(255, 144.05, 13.81, 0.10);
    background-size: cover;
    padding: 15px;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    


}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items ul {
    display: flex;

    align-items: center;
    gap: 50px;
}

.nav-item {
    list-style-type: none;
    color: #424242;
    font-size: 18px;

    font-weight: 500;
    line-height: 26px;
    word-wrap: break-word
}

.logo {
    color: #131313;
    font-size: 45px;

    font-weight: 700;
    word-wrap: break-word;
}

.title {
    margin-top: 100px;
    color: #131313;
    font-size: 64px;

    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.sub-title {
    text-align: center;
    color: #727272;
    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin: 32px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    border: 0;
    color: white;
    font-size: 20px;

    font-weight: 600;
    word-wrap: break-word;
    background-color: #FF900E;
    padding: 21px 25px;
    border-radius: 5px;
}

.image {
    margin-top: 70px;
    padding-bottom: 45px;

}

.banner-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* our-feature section */
.feature-heading {

    color: #131313;
    font-size: 45px;
    font-family: Work Sans;
    font-weight: 700;
    word-wrap: break-word;
}

.feature-paragraph {
    margin-top: 24px;
    margin-bottom: 30px;
    color: #727272;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
}

.featurings {
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 76px;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.feature-description h2 {
    color: #727272;
    font-size: 45px;

    font-weight: 500;
    word-wrap: break-word;
}

.feature-description h2 .first {
    color: #131313;
    font-size: 45px;

    font-weight: 700;
    word-wrap: break-word;
}

.feature-description h2 .second {
    color: #FF900E;
    font-size: 45px;

    font-weight: 700;
    word-wrap: break-word;
}

.feature-description p {
    color: #727272;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 24px;
    margin-bottom: 32px;
}


.loveing-feature {
    margin-top: 50px;
    display: flex;
    gap: 146px;
    align-items: center;
    padding: 10px;
}

.experience-button {
    color: white;
    font-size: 45px;
    font-family: Work Sans;
    font-weight: 700;

    word-wrap: break-word;
    padding: 32px 36px;
    position: relative;
    top: -120px;
    left: 400px;
}

.experience-button span {
    color: white;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 500;

    word-wrap: break-word;
}

.loveing-feature-text {
    border: 1px solid rgba(211, 211, 211, 0.6);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 33px 31px 30px 30px;
    margin-bottom: 20px;
}

/* some facts section  */
.fact-lines{
    padding: 5px;
    
}
.some-facts h1{
    color: #131313;
font-size: 45px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word
}
.some-facts p{
    color: #727272;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word;
padding: 24px 0px;
}

.facts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fact{
    padding: 50px 40px;
    border-radius: 8px;
     border: 1px #FF900E solid
}
.fact:hover{
    transform: rotate(90deg);
    transition: 1s;
}

/* our-sponscer section */
.our-sponscer{
    margin-top: 50px;
    text-align: center;
}
.sponscer{
    padding: 5px;
}
/* .sponscer-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
} */
.sponscer-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-bottom: 100px;
    position: relative;
    gap: 30px;
    

}
.sponscer-images img{
    
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    
}




.our-sponscer h2{
    
color: #131313;
 font-size: 45px;
 font-family: Work Sans;
 font-weight: 700;
 word-wrap: break-word;
 margin-bottom: 24px;
}
.our-sponscer p{
    color: #727272;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word;
margin-bottom: 50px;
}
footer{
    background-color: #FFF4E7;
}
footer p{
    color: #424242;
font-size: 20px;
font-family: Work Sans;
font-weight: 400;
word-wrap: break-word;
padding: 38px 310px;
margin-bottom: 10px;
}
/* media quary style */
@media only screen and (max-width:1450px) {
    .logo {
        font-size: 36px;
    }

    .banner-image {
        height: 95%;
        width: 95%;

    }

    .title {
        margin-top: 70px;

        font-size: 50px;

    }

    .featurings {
       text-align: center;
        flex-direction: column-reverse;
    }
    
    .feature-description {

        text-align: center;

    }
    .loveing-feature {
        margin-top: 50px;
        display: flex;
        gap: 76px;
        align-items: center;
    }
    .loving-feature-image{
        height: 45%;
        width: 45%;
    }



}

@media only screen and (max-width:992px) {
    .logo {
        font-size: 32px;
    }

    .nav-item {
        font-size: 12px;

    }

    .nav-items ul {
        display: flex;

        align-items: center;
        gap: 30px;
    }

    .banner-image {
        height: 85%;
        width: 85%;

    }

    .btn-primary {
        font-size: 16px;
        padding: 16px 19px;

    }

    .image {
        margin-top: 50px;
        padding-bottom: 35px;

    }
    .facts{
        justify-content: center;
        gap: 20px;
    }
    .fact-lines{
        text-align: center;
        
    }
    .sponscer-images{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    footer p{
        text-align: center;
        color: #424242;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    word-wrap: break-word;
    padding: 38px 310px;
    margin-bottom: 10px;
    }

}

@media only screen and (max-width:576px) {
    .nav-bar {
        flex-wrap: wrap;
    }

    .logo {
        font-size: 18px;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .nav-items ul {
        gap: 8px;
    }

    .title {
        margin-top: 40px;
        font-size: 30px;
    }

    .btn-primary {
        font-size: 12px;
        padding: 12px 15px;

    }

    .image {
        margin-top: 30px;
        padding-bottom: 25px;

    }

    .feature-image {

        grid-template-columns: repeat(1, 2fr);

    }
    .loveing-feature {
        margin-top: 20px;
        display: flex;
        text-align: center;
       flex-direction: column;
        
    }
    .loving-feature-image{
        height: 100%;
        width: 100%;
    }
    .experience-button {
       
        top: 0px;
        left:0px;   
        
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .facts{
        flex-direction: column;
    }
    .fact{
        padding: 100px 80px;
       
    }
    footer p{
       
    font-size: 12px;
   
    padding: 18px 30px;
    
    }
    .featurings img{
        height: 95%;
        width: 95%;
    }


}